      <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" >
        <mdb-carousel-item *ngFor="let story of slides;index as i">
          <div class="view w-100 overlay" >
            <img class="mx-auto d-block w-100" src={{story.img}} alt="First slide" class="img-fluid ">
            <div class="mask rgba-black-light waves-light flex-center"  mdbWavesEffect><p class="white-text">{{story.story}}</p></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">{{story.name}}</h3>
            <p>{{story.profession}}</p>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>


