<div class="row mg-2">

    <p-menu [model]="sidemenuItems" class="col-2"></p-menu>

    <div class="col-6 pd-2">
        <p class="main-header">Substance 2</p>

        <p>Sed ac egestas turpis. Vestibulum sed viverra ipsum. Duis volutpat dolor ex, non pellentesque enim volutpat
            vel.
            Aliquam mattis aliquet bibendum. Fusce ante elit, congue id eros a, tempus mollis erat. Suspendisse
            tristique lorem
            orci, a volutpat sapien cursus ut. Duis magna sapien, ultricies ut tellus at, pellentesque tempus massa.
            Aliquam eu
            enim dictum enim porttitor dictum. Nunc placerat felis sit amet aliquam ullamcorper. Vivamus pulvinar metus
            leo, in
            feugiat nisi consequat quis. Curabitur sed tincidunt orci. Aliquam vitae tincidunt sem. Duis vel
            scelerisque lectus.</p>

        <p class="main-header-1">Health Effects</p>
        <ng-container *ngFor="let content of contentCards">
            <p-card>
                <p-header>
                    {{content.header}}
                </p-header>
                <p-footer>
                    {{content.content}}
                </p-footer>

            </p-card>
        </ng-container>
    </div>
    <!-- chat division -->
    <div class="col-4">
        <div>chat with us</div>
        <div class="chat-box">
            <div class="row" *ngFor="let message of messages">
                <div class="col-12">
                    <div class="received-msg">{{message}}</div>
                </div>
                <div class="col-12">
                    <div class="sent-msg">
                        Currently this service is not available
                        <i class="fas fa-exclamation"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="align-center">
            <input pInputText placeholder="... Type something" [style]="'width: 80%'" type="text" [(ngModel)]="textMsg">
            <button pButton (click)="sendText()" icon="far fa-share-square"></button>
        </div>
        <div class="align-center">
            Leave a comment
        </div>
        <div class="align-center">
            <textarea pInputTextarea [(ngModel)]="property"></textarea>
        </div>
    </div>
</div>